/*- Colors -*/
$purple: #9C69E2;
$purple-hover: #B17FF4;
$orange: #EEAA12;
$orange-hover: #FFC84D;
$pink: #F063B8;
$mobile-bg-menu: #F9F4FF;
$slider-bg-card: #FFF3D7;
$text-bold: #212353;
$text-grey: #4B5D68;
/*- Fonts -*/
$font-stack: Roboto, sans-serif;