//Colors
$purple: #9C69E2;
$purple-hover: #B17FF4;
$orange-slider: #FFC84D;
$orange-btn: #EEAA12;
$orange-hover: #FFBE2D;
$pink: #F063B8;
$mobile-bg-menu: #F9F4FF;
$slider-bg-card: #FFF3D7;
$text-bold: #212353;
$text-grey: #4B5D68;
$menu-border: #D6B9FF;
$text-form: #A9A0B6;
// Fonts
$font-stack: Roboto, sans-serif;