.card {
  padding: 10% 15% 10% 31%;
  background-color: $slider-bg-card;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 0px #F5BD3F;
  @media screen and (max-width: 1800px) {
    padding: 10% 15% 10% 29%;
  }
  @media screen and (max-width: 1700px) {
    padding: 10% 15% 10% 25%;
  }
  @media screen and (max-width: 1500px) {
    padding: 10% 10% 10% 23%;
  }
  @media screen and (max-width: 1400px) {
    padding: 10% 20% 10% 30%;
  }
  @media screen and (max-width: 992px) {
    height: 100%;
  }
  @media screen and (max-width: 576px) {
    padding: 15% 6% 25%;
  }

  &:before {
    content: attr(data-number);
    position: absolute;
    left: -17%;
    color: #9C69E2;
    line-height: 18rem;
    font-size: 20.2rem;
    font-weight: 500;
    text-align: center;
    @media screen and (max-width: 1400px) {
      left: -12%;
    }
    @media screen and (max-width: 992px) {
      left: -16%;
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $text-bold;
  }

  &__text {
    display: block;
    height: 18rem;
    color: $text-grey;
    line-height: 160%;
    @media screen and (max-width: 992px) {
      height: 15rem;
    }
    @media screen and (max-width: 920px) {
      height: 19rem;
    }
    @media screen and (max-width: 576px) {
      height: 9rem;
    }
    @media screen and (max-width: 480px) {
      height: 12rem;
    }
    @media screen and (max-width: 375px) {
      height: 15rem;
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: $text-bold;
    @media screen and (max-width: 992px) {
      padding-top: 5%;
    }
    &:hover {
      color: $purple;
    }
    &> svg {
      margin-left: 10%;
      position: absolute;
      top: 5%;
      @media screen and (max-width: 992px) {
        top: 45%;
      }
      @media screen and (max-width: 576px) {
        top: 56%;
      }
      @media screen and (max-width: 375px) {
        top: 50%;
      }
    }
  }
}