.features {
  width: 100%;
  padding: 0 18.7% 15rem;
  @media screen and (max-width: 992px) {
    padding: 0 16.7% 9.2rem;
  }
  @media screen and (max-width: 768px) {
    padding: 0 7.7% 9.2rem;
  }
  @media screen and (max-width: 576px) {
    padding: 0 0 7.3rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5.6rem;
    @media screen and (max-width: 320px) {
      padding: 7%;
    }
  }

  &__title {
    color: $text-bold;
    font-size: 4rem;
    font-weight: bold;
    line-height: 130%;
  }
  &__text {
    line-height: 160%;
    font-size: 2.3rem;
    padding: 0 23%;
    text-align: center;
    color: $text-grey;
    @media screen and (max-width:1600px) {
      padding: 0 6%;
    }
    @media screen and (max-width: 992px) {
      padding: 0 2%;
    }
  }
}