.footer {
  width: 100%;
  padding: 4% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $purple;
  @media screen and (max-width: 992px) {
    padding: 5% 3%;
  }
  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
    padding: 5% 5%;
  }

  &__list {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    @media screen and (max-width: 576px) {
      flex: 1;
      padding-bottom: 5%;
    }
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: #efe8e8;
    }
    @media screen and (max-width: 992px) {
      padding: 10% 0 0 0;
      display: block;
    }
  }
}