.form {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 8%;
  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
  @media screen and (max-width: 320px) {
    flex-wrap: wrap;
    width: 100%;
  }

  &__group {
    width: 65%;
    @media screen and (max-width: 768px) {
      width: 70%;
    }
    @media screen and (max-width: 320px) {
      width: 100%;
    }
  }

  &__label {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
  }

  &__control {
    width: 88%;
    border: none;
    border-radius: 4px;
    padding: 1.5rem 1rem;
    @media screen and (max-width: 320px) {
      width: 100%;
    }
  }

  &__action {
    width: 25%;
    @media screen and (max-width: 992px) {
      width: 27%;
    }
    @media screen and (max-width: 768px) {
      width: 30%;
    }
    @media screen and (max-width: 320px) {
      width: 100%;
      padding: 10% 0;
      text-align: center;
    }
  }
}