.form {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 8%;

  &__group {
    width: 65%;
  }

  &__label {
    visibility: hidden;
  }

  &__control {
    width: 88%;
    border: none;
    border-radius: 4px;
    padding: 1.5rem 1rem;
  }

  &__action {
    width: 25%;
  }
}