.menu {
  width: 60%;
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    &.drop {
      display: block;
      position: absolute;
    }
  }
  &__link {
    display: block;
    padding: 3rem;
    text-decoration: none;
    color: $text-bold;
    font-weight: bold;
    &.active {
      color: $purple;
      & i {
        transform: rotate(0deg);
      }
    }
    & > i {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1rem;
      transform: rotate(180deg);
      transition: all 0.2s ease-out;
    }
    &:hover {
      color: $purple;
    }
  }
  &__item > ul {
    padding: 0.5rem;
    border: 1px solid $purple;
    border-radius: 10px;
    display: none;
    & li {
      position: relative;
      & a {
        padding: 1rem 2rem;
      }
    }
  }

  &__triangle {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -11.7%;
    left: 36%;
    transform: rotate(45deg) translateY(-1px);

    border: 1px solid $purple;
    border-right: 0;
    border-bottom: 0;
    background: #ffffff;
  }
}


//transform: rotate(180deg);
//  color: $purple;