.slider {
  width: 100%;
  padding: 6% 7% 9% 7%;
  background-color: $orange-slider;
  border-radius: 50px;
  @media screen and (max-width: 576px) {
    padding: 8% 6% 20% 6%;
    border-radius: 0;
  }

  &__item {
    padding: 1% 3%;
    position: relative;
    @media screen and (max-width: 1400px) {
      padding: 1% 5%;
    }
    @media screen and (max-width: 1200px) {
      padding: 1% 3%;
    }
    @media screen and (max-width: 576px) {
      padding: 1% 1%;
    }
  }

  &__item:nth-child(4) > .card::after {
    content: 'NEW';
    position: absolute;
    left: 31%;
    top: -2%;
    color: #ffffff;
    background-color: #F063B8;
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    height: 3.4rem;
    width: 6.9rem;
    text-align: center;
    box-shadow: 0px 4px 0px #EFE3C5;
    border-radius: 0px 0px 4px 4px;
    @media screen and (max-width: 1800px) {
      left: 30%;
    }
    @media screen and (max-width: 1700px) {
      left: 25%;
    }
    @media screen and (max-width: 576px) {
      left: 10%;
    }
  }
}